{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://kinesisanalytics.amazonaws.com/"
        },
        {
            "url": "http://kinesisanalytics.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Kinesis Analytics",
        "version": "2015-08-14",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisanalytics-2015-08-14.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "kinesisanalytics"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/kinesisanalytics/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds a CloudWatch log stream to monitor application configuration errors. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.",
                "operationId": "AddApplicationCloudWatchLoggingOption",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationName": {
                                        "description": "The Kinesis Analytics application name.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CloudWatchLoggingOption": {
                                        "description": "Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.",
                                        "properties": {
                                            "LogStreamARN": {
                                                "description": "ARN of the CloudWatch log to receive application messages.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "pattern": "arn:.*",
                                                "type": "string"
                                            },
                                            "RoleARN": {
                                                "description": "IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "LogStreamARN",
                                            "RoleARN"
                                        ],
                                        "type": "object"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "The version ID of the Kinesis Analytics application.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "CloudWatchLoggingOption"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationInput": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Adds a streaming source to your Amazon Kinesis application. For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p> <p>You can add a streaming source either when you create an application or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationInput</code> action.</p>",
                "operationId": "AddApplicationInput",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CodeValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ApplicationName": {
                                        "description": "Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "Current version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a> operation to find the current application version.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Input": {
                                        "description": "The <a>Input</a> to add.",
                                        "properties": {
                                            "InputParallelism": {
                                                "description": "<p>Describes the number of in-application streams to create. </p> <p>Data from your source is routed to these in-application input streams.</p> <p> (see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>.</p>",
                                                "properties": {
                                                    "Count": {
                                                        "description": "Number of in-application streams to create. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. ",
                                                        "maximum": 64,
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "InputProcessingConfiguration": {
                                                "description": "The <a>InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application's SQL code executes. Currently, the only input processing configuration available is <a>InputLambdaProcessor</a>.",
                                                "properties": {
                                                    "InputLambdaProcessor": {
                                                        "description": "The <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The ARN of the <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a> function that operates on records in the stream.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            },
                                                            "RoleARN": {
                                                                "description": "The ARN of the IAM role that is used to access the AWS Lambda function.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN",
                                                            "RoleARN"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "InputLambdaProcessor"
                                                ],
                                                "type": "object"
                                            },
                                            "InputSchema": {
                                                "description": "<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>",
                                                "properties": {
                                                    "RecordColumns": {
                                                        "description": "A list of <code>RecordColumn</code> objects.",
                                                        "items": {
                                                            "description": "<p>Describes the mapping of each data element in the streaming source to the corresponding column in the in-application stream.</p> <p>Also used to describe the format of the reference data source.</p>",
                                                            "properties": {
                                                                "Mapping": {
                                                                    "description": "Reference to the data element in the streaming input of the reference data source.",
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "description": "Name of the column created in the in-application input stream or reference table.",
                                                                    "pattern": "[a-zA-Z_][a-zA-Z0-9_]*",
                                                                    "type": "string"
                                                                },
                                                                "SqlType": {
                                                                    "description": "Type of column created in the in-application input stream or reference table.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Name",
                                                                "SqlType"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 1000,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "RecordEncoding": {
                                                        "description": "Specifies the encoding of the records in the streaming source. For example, UTF-8.",
                                                        "pattern": "UTF-8",
                                                        "type": "string"
                                                    },
                                                    "RecordFormat": {
                                                        "description": "Specifies the format of the records on the streaming source.",
                                                        "properties": {
                                                            "MappingParameters": {
                                                                "description": "When configuring application input at the time of creating or updating an application, provides additional mapping information specific to the record format (such as JSON, CSV, or record fields delimited by some delimiter) on the streaming source.",
                                                                "properties": {
                                                                    "CSVMappingParameters": {
                                                                        "description": "Provides additional mapping information when the record format uses delimiters (for example, CSV).",
                                                                        "properties": {
                                                                            "RecordColumnDelimiter": {
                                                                                "description": "Column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            },
                                                                            "RecordRowDelimiter": {
                                                                                "description": "Row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "RecordRowDelimiter",
                                                                            "RecordColumnDelimiter"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "JSONMappingParameters": {
                                                                        "description": "Provides additional mapping information when JSON is the record format on the streaming source.",
                                                                        "properties": {
                                                                            "RecordRowPath": {
                                                                                "description": "Path to the top-level parent that contains the records.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "RecordRowPath"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "RecordFormatType": {
                                                                "description": "The type of record format.",
                                                                "enum": [
                                                                    "JSON",
                                                                    "CSV"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "RecordFormatType"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "RecordFormat",
                                                    "RecordColumns"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisFirehoseInput": {
                                                "description": "<p>If the streaming source is an Amazon Kinesis Firehose delivery stream, identifies the delivery stream's ARN and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code> or <code>KinesisFirehoseInput</code> is required.</p>",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "ARN of the input delivery stream.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure that the role has the necessary permissions to access the stream.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN",
                                                    "RoleARN"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisStreamsInput": {
                                                "description": "<p>If the streaming source is an Amazon Kinesis stream, identifies the stream's Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code> or <code>KinesisFirehoseInput</code> is required.</p>",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "ARN of the input Amazon Kinesis stream to read.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to grant the necessary permissions to this role.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN",
                                                    "RoleARN"
                                                ],
                                                "type": "object"
                                            },
                                            "NamePrefix": {
                                                "description": "Name prefix to use when creating an in-application stream. Suppose that you specify a prefix \"MyInApplicationStream.\" Amazon Kinesis Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with names \"MyInApplicationStream_001,\" \"MyInApplicationStream_002,\" and so on. ",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "NamePrefix",
                                            "InputSchema"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "Input"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationInputProcessingConfiguration": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds an <a>InputProcessingConfiguration</a> to an application. An input processor preprocesses records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.",
                "operationId": "AddApplicationInputProcessingConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationName": {
                                        "description": "Name of the application to which you want to add the input processing configuration.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "Version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "InputId": {
                                        "description": "The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.",
                                        "maxLength": 50,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "InputProcessingConfiguration": {
                                        "description": "The <a>InputProcessingConfiguration</a> to add to the application.",
                                        "properties": {
                                            "InputLambdaProcessor": {
                                                "description": "The <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The ARN of the <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a> function that operates on records in the stream.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "The ARN of the IAM role that is used to access the AWS Lambda function.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN",
                                                    "RoleARN"
                                                ],
                                                "type": "object"
                                            }
                                        },
                                        "required": [
                                            "InputLambdaProcessor"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "InputId",
                                    "InputProcessingConfiguration"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationOutput": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds an external destination to your Amazon Kinesis Analytics application.</p> <p>If you want Amazon Kinesis Analytics to deliver data from an in-application stream within your application to an external destination (such as an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Understanding Application Output (Destination)</a>. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p> <p>For the limits on the number of application inputs and outputs you can configure, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action.</p>",
                "operationId": "AddApplicationOutput",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ApplicationName": {
                                        "description": "Name of the application to which you want to add the output configuration.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "Version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. ",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Output": {
                                        "description": "An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.",
                                        "properties": {
                                            "DestinationSchema": {
                                                "description": "Describes the data format when records are written to the destination. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>.",
                                                "properties": {
                                                    "RecordFormatType": {
                                                        "description": "Specifies the format of the records on the output stream.",
                                                        "enum": [
                                                            "JSON",
                                                            "CSV"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "RecordFormatType"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisFirehoseOutput": {
                                                "description": "Identifies an Amazon Kinesis Firehose delivery stream as the destination.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "ARN of the destination Amazon Kinesis Firehose delivery stream to write to.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination stream on your behalf. You need to grant the necessary permissions to this role.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN",
                                                    "RoleARN"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisStreamsOutput": {
                                                "description": "Identifies an Amazon Kinesis stream as the destination.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "ARN of the destination Amazon Kinesis stream to write to.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination stream on your behalf. You need to grant the necessary permissions to this role.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN",
                                                    "RoleARN"
                                                ],
                                                "type": "object"
                                            },
                                            "LambdaOutput": {
                                                "description": "Identifies an AWS Lambda function as the destination.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "Amazon Resource Name (ARN) of the destination Lambda function to write to.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination function on your behalf. You need to grant the necessary permissions to this role. ",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN",
                                                    "RoleARN"
                                                ],
                                                "type": "object"
                                            },
                                            "Name": {
                                                "description": "Name of the in-application stream.",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Name",
                                            "DestinationSchema"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "Output"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationReferenceDataSource": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds a reference data source to an existing application.</p> <p>Amazon Kinesis Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in Amazon S3 object maps to columns in the resulting in-application table.</p> <p> For conceptual information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. For the limits on data sources you can add to your application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action. </p>",
                "operationId": "AddApplicationReferenceDataSource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ApplicationName": {
                                        "description": "Name of an existing application.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "Version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "ReferenceDataSource": {
                                        "description": "The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.",
                                        "properties": {
                                            "ReferenceSchema": {
                                                "description": "Describes the format of the data in the streaming source, and how each data element maps to corresponding columns created in the in-application stream.",
                                                "properties": {
                                                    "RecordColumns": {
                                                        "description": "A list of <code>RecordColumn</code> objects.",
                                                        "items": {
                                                            "description": "<p>Describes the mapping of each data element in the streaming source to the corresponding column in the in-application stream.</p> <p>Also used to describe the format of the reference data source.</p>",
                                                            "properties": {
                                                                "Mapping": {
                                                                    "description": "Reference to the data element in the streaming input of the reference data source.",
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "description": "Name of the column created in the in-application input stream or reference table.",
                                                                    "pattern": "[a-zA-Z_][a-zA-Z0-9_]*",
                                                                    "type": "string"
                                                                },
                                                                "SqlType": {
                                                                    "description": "Type of column created in the in-application input stream or reference table.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Name",
                                                                "SqlType"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 1000,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "RecordEncoding": {
                                                        "description": "Specifies the encoding of the records in the streaming source. For example, UTF-8.",
                                                        "pattern": "UTF-8",
                                                        "type": "string"
                                                    },
                                                    "RecordFormat": {
                                                        "description": "Specifies the format of the records on the streaming source.",
                                                        "properties": {
                                                            "MappingParameters": {
                                                                "description": "When configuring application input at the time of creating or updating an application, provides additional mapping information specific to the record format (such as JSON, CSV, or record fields delimited by some delimiter) on the streaming source.",
                                                                "properties": {
                                                                    "CSVMappingParameters": {
                                                                        "description": "Provides additional mapping information when the record format uses delimiters (for example, CSV).",
                                                                        "properties": {
                                                                            "RecordColumnDelimiter": {
                                                                                "description": "Column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            },
                                                                            "RecordRowDelimiter": {
                                                                                "description": "Row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "RecordRowDelimiter",
                                                                            "RecordColumnDelimiter"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "JSONMappingParameters": {
                                                                        "description": "Provides additional mapping information when JSON is the record format on the streaming source.",
                                                                        "properties": {
                                                                            "RecordRowPath": {
                                                                                "description": "Path to the top-level parent that contains the records.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "RecordRowPath"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "RecordFormatType": {
                                                                "description": "The type of record format.",
                                                                "enum": [
                                                                    "JSON",
                                                                    "CSV"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "RecordFormatType"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "RecordFormat",
                                                    "RecordColumns"
                                                ],
                                                "type": "object"
                                            },
                                            "S3ReferenceDataSource": {
                                                "description": "Identifies the S3 bucket and object that contains the reference data. Also identifies the IAM role Amazon Kinesis Analytics can assume to read this object on your behalf. An Amazon Kinesis Analytics application loads reference data only once. If the data changes, you call the <a>UpdateApplication</a> operation to trigger reloading of data into your application. ",
                                                "properties": {
                                                    "BucketARN": {
                                                        "description": "Amazon Resource Name (ARN) of the S3 bucket.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "FileKey": {
                                                        "description": "Object key name containing reference data.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ReferenceRoleARN": {
                                                        "description": "ARN of the IAM role that the service can assume to read data on your behalf. This role must have permission for the <code>s3:GetObject</code> action on the object and trust policy that allows Amazon Kinesis Analytics service principal to assume this role.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "BucketARN",
                                                    "FileKey",
                                                    "ReferenceRoleARN"
                                                ],
                                                "type": "object"
                                            },
                                            "TableName": {
                                                "description": "Name of the in-application table to create.",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "TableName",
                                            "ReferenceSchema"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "ReferenceDataSource"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateApplication": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Creates an Amazon Kinesis Analytics application. You can configure each application with one streaming source as input, application code to process the input, and up to three destinations where you want Amazon Kinesis Analytics to write the output data from your application. For an overview, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works.html\">How it Works</a>. </p> <p>In the input configuration, you map the streaming source to an in-application stream, which you can think of as a constantly updating table. In the mapping, you must provide a schema for the in-application stream and map each data column in the in-application stream to a data element in the streaming source.</p> <p>Your application code is one or more SQL statements that read input data, transform it, and generate output. Your application code can create one or more SQL artifacts like SQL streams or pumps.</p> <p>In the output configuration, you can configure the application to write data from in-application streams created in your applications to up to three destinations.</p> <p> To read data from your source stream or write data to destination streams, Amazon Kinesis Analytics needs your permissions. You grant these permissions by creating IAM roles. This operation requires permissions to perform the <code>kinesisanalytics:CreateApplication</code> action. </p> <p> For introductory exercises to create an Amazon Kinesis Analytics application, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/getting-started.html\">Getting Started</a>. </p>",
                "operationId": "CreateApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "TBD",
                                    "properties": {
                                        "ApplicationSummary": {
                                            "description": "In response to your <code>CreateApplication</code> request, Amazon Kinesis Analytics returns a response with a summary of the application it created, including the application Amazon Resource Name (ARN), name, and status.",
                                            "properties": {
                                                "ApplicationARN": {
                                                    "description": "ARN of the application.",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "pattern": "arn:.*",
                                                    "type": "string"
                                                },
                                                "ApplicationName": {
                                                    "description": "Name of the application.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9_.-]+",
                                                    "type": "string"
                                                },
                                                "ApplicationStatus": {
                                                    "description": "Status of the application.",
                                                    "enum": [
                                                        "DELETING",
                                                        "STARTING",
                                                        "STOPPING",
                                                        "READY",
                                                        "RUNNING",
                                                        "UPDATING"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "ApplicationName",
                                                "ApplicationARN",
                                                "ApplicationStatus"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "ApplicationSummary"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CodeValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "TBD",
                                "properties": {
                                    "ApplicationCode": {
                                        "description": "<p>One or more SQL statements that read input data, transform it, and generate output. For example, you can write a SQL statement that reads data from one in-application stream, generates a running average of the number of advertisement clicks by vendor, and insert resulting rows in another in-application stream using pumps. For more information about the typical pattern, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-app-code.html\">Application Code</a>. </p> <p>You can provide such series of SQL statements, where output of one statement can be used as the input for the next statement. You store intermediate results by creating in-application streams and pumps.</p> <p>Note that the application code must create the streams with names specified in the <code>Outputs</code>. For example, if your <code>Outputs</code> defines output streams named <code>ExampleOutputStream1</code> and <code>ExampleOutputStream2</code>, then your application code must create these streams. </p>",
                                        "maxLength": 102400,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "ApplicationDescription": {
                                        "description": "Summary description of the application.",
                                        "maxLength": 1024,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "ApplicationName": {
                                        "description": "Name of your Amazon Kinesis Analytics application (for example, <code>sample-app</code>).",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CloudWatchLoggingOptions": {
                                        "description": "Use this parameter to configure a CloudWatch log stream to monitor application configuration errors. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.",
                                        "items": {
                                            "description": "Provides a description of CloudWatch logging options, including the log stream Amazon Resource Name (ARN) and the role ARN.",
                                            "properties": {
                                                "LogStreamARN": {
                                                    "description": "ARN of the CloudWatch log to receive application messages.",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "pattern": "arn:.*",
                                                    "type": "string"
                                                },
                                                "RoleARN": {
                                                    "description": "IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "LogStreamARN",
                                                "RoleARN"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Inputs": {
                                        "description": "<p>Use this parameter to configure the application input.</p> <p>You can configure your application to receive input from a single streaming source. In this configuration, you map this streaming source to an in-application stream that is created. Your application code can then query the in-application stream like a table (you can think of it as a constantly updating table).</p> <p>For the streaming source, you provide its Amazon Resource Name (ARN) and format of data on the stream (for example, JSON, CSV, etc.). You also must provide an IAM role that Amazon Kinesis Analytics can assume to read this stream on your behalf.</p> <p>To create the in-application stream, you need to specify a schema to transform your data into a schematized version used in SQL. In the schema, you provide the necessary mapping of the data elements in the streaming source to record columns in the in-app stream.</p>",
                                        "items": {
                                            "description": "When you configure the application input, you specify the streaming source, the in-application stream name that is created, and the mapping between the two. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. ",
                                            "properties": {
                                                "InputParallelism": {
                                                    "description": "<p>Describes the number of in-application streams to create. </p> <p>Data from your source is routed to these in-application input streams.</p> <p> (see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>.</p>",
                                                    "properties": {
                                                        "Count": {
                                                            "description": "Number of in-application streams to create. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. ",
                                                            "maximum": 64,
                                                            "minimum": 1,
[...]
